/* topbar */
#topbar {
    padding: 0 0 15px 0;
}

#topbar,
#topbar a {
    color: #bdbdbd !important;
    font-size: 14px;
}

#topbar .col {
    margin: 0 !important;
}

.top-left span {
    padding: 0px 8px;
    border-right: 1px solid #0060ff;
    line-height: 30px;
}

.top-left span i {
    color: #0060ff;
    margin-right: 8px;
    font-size: 15px;
}

.top-right a {
    padding: 0 10px;
    border-right: 1px solid #0060ff;
}

.top-left span:last-child,
.top-right a:last-child {
    border: 0;
}


/* navbar */
.navbar {
    background-color: #0060ff;
    width: 100%;
}

.navbar-toggler {
    border-radius: 4px !important;
    background-color: #222 !important;
    padding: 7px 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: white !important;
    display: flex;
    align-items: center;
}

.navbar-toggler .menu {
    margin-right: 5px;
}

.navbar-toggler-icon {
    filter: invert(95%);
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    margin-left: 50px !important;
    margin-right: 20px !important;
}

.nav-item a {
    font-size: 15px;
    margin: 0 10px;
    padding: 30px 0px;
}

.dropdown-menu {
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 0 !important;
    padding: 0 !important;
}

.dropdown-item {
    margin: 0 !important;
    padding: 10px 80px 10px 30px !important;
    color: #000 !important;
    transition: all .5s;
}

.dropdown-item:hover {
    background-color: #0060ff !important;
}


/* header */
#header {
    height: 100vh;
    background-color: #0060ff;
}

#header .header-carousel .header-one {
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.308) 100%, rgba(0, 0, 0, 0.267) 100%), url("https://feyzadc.github.io/landing-demo/assets/bg4.jpg");
    background-size: cover;
}

#header .header-carousel .header-two {
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.308) 100%, rgba(0, 0, 0, 0.267) 100%), url("https://feyzadc.github.io/landing-demo/assets/bg5.jpg");
    background-size: cover;
}

#header .header-carousel .header-content {
    min-width: 100%;
    height: 100vh;
}

#header .header-carousel .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header h1 {
    font-size: 6rem;
    color: white;
    font-weight: 600;
}

#header p {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    margin: 20px 0 40px 0;
    max-width: 900px;
}

/* features-area */
.features-area {
    margin-top: -95px;
    position: relative;
    z-index: 1;
}

.features-area .features {
    box-shadow: 0px 8px 16px 0px rgba(205, 190, 255, 0.2);
    padding: 40px;
    position: relative;
    background-color: white;
}

.features-area .col {
    padding: 15px;
    border: none;
}

.features-area .icon {
    font-size: 30px;
    width: 60px;
    height: 60px;
    background: #cacaca4f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0060ff;
}

.features-area h4 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 30px 0;
}

.features-area p {
    color: #7a8595;
    font-size: 1.3rem;
    line-height: 30px;
}


/* about us */
.about-us img {
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 30px;
}

.leader-content {
    height: 85%;
}

.leader-content span {
    color: #666;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

.leader-content h2 {
    color: #000;
}

.leader-content .pera-top {
    font-weight: 600;
    color: #000;
    padding: 10px;
    line-height: 30px;
    background: #f4f9fc;
    border-left: 3px solid #0060ff;
    font-size: 1.3rem;
}

.leader-content .pera-bottom {
    line-height: 30px;
    font-size: 1.3rem;
    color: #7a8595;
    font-weight: 600;
}

.leader-content .button {
    width: 130px;
}


/* services */
.services {
    background-color: #f4f9fc;
}

.services-card {
    text-align: center;
    padding: 40px !important;
    position: relative;
    background: #fff;
    box-shadow: 0 15px 44px 0px rgba(171, 171, 171, 0.1);
    transition: all .5s;
    min-width: 30% !important;
}

.services-card i {
    font-size: 35px;
    color: #0060ff;
}

.services-card h3 {
    font-weight: 600;
    color: #000;
    font-size: 2rem;
    margin: 30px 0;
}

.services-card p {
    line-height: 28px;
    font-size: 1.3rem;
    color: #7a8595;
    font-weight: 500;
    margin-bottom: 20px;
}

.services-card a i {
    font-size: 15px;
    color: #0060ff;
    border: 1px solid #0060ff;
    padding: 5px;
    border-radius: 50%;
}

.services-card:hover h3,
.services-card:hover p {
    color: #fff;
}

.services-card:hover {
    background: url("https://feyzadc.github.io/landing-demo/assets/service.jpg") center center/cover no-repeat local;
}


/* counter */
.counter-area {
    background-color: #0060ff;
    padding: 40px 0;
    color: white;
}

.counter {
    text-align: center;
    margin-bottom: 30px;
}

.counter i {
    margin-bottom: 20px;
    font-size: 3rem;
}

.counter h3 {
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 5px
}

.counter p {
    font-size: 1.6rem;
}


/* team */
.team-card {
    text-align: center;
    min-width: 30% !important;
}

.team-card img {
    max-width: 100%;
    height: auto;
}

.team-img {
    position: relative;
    width: fit-content;
}

.team-text {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    transition: .5s all ease-in-out;
    opacity: 0;
}

.team-text h4 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.team-text p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px 0;
}

.team-icon i {
    font-size: 15px;
    margin-right: 15px;
}

.team-img::before {
    position: absolute;
    content: "";
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0060ff;
    opacity: 0;
    transition: 0.3s;
    height: 0%;
    transition: .3s all ease-in-out;
}

.team-card:hover .team-img::before {
    opacity: 1;
    height: 100%;
    top: 0;
    bottom: auto;
}

.team-card:hover .team-text {
    opacity: 1;
}


/* quality */
.quality {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.582) 100%, rgba(0, 0, 0, 0) 100%), url("https://feyzadc.github.io/landing-demo/assets/red.jpg");
    background-size: cover;
    padding-bottom: 110px !important;
}

.quality h1 {
    font-size: 4rem;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
}

.quality p {
    font-size: 1.5rem;
    color: #fff;
    line-height: 30px;
    margin: 40px 0;
}

.quality a i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0060ff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}


/* pricing */
.pricing {
    background-color: #f4f9fc;
}

.pricing-card {
    background-color: white;
    min-width: 30%;
    padding: 0 !important;
    text-align: center;
    padding-bottom: 50px !important;
    transition: all 0.3s ease 0s;
}

.pricing-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .09);
    transform: translateY(-1rem);
}

.pricing-card h3 {
    padding: 30px 0;
    font-weight: 700;
    font-size: 2.2rem;
    border-bottom: 1px solid #cfd1fc;
    margin-bottom: 30px;
}

.pricing-card h4 {
    color: #0060ff;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.pricing-card h4 span {
    font-size: 1.5rem;
}

.pricing-card p {
    font-size: 1.3rem;
    color: #595959;
    font-weight: 600;
}

.pricing-card .btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-card .button {
    margin-top: 30px;
}


/* portfolio */
.portfolio {
    padding-bottom: 100px !important;
}

.portfolio .card {
    cursor: pointer;
    position: relative;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(170, 23, 23);
    opacity: 0;
}

.portfolio .card-top {
    transition: all .3s ease 0s;
}

.portfolio .card:hover .card-top {
    opacity: .8;
}

.portfolio .card:hover .card-title {
    color: #0060ff;
}

.card .card-body {
    padding: 25px;
}

.card .card-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    color: #313131;
    transition: all 0.3s ease 0s;
}

.card .card-text {
    font-size: 15px;
    color: #7a8595;
}


/* contact */
.contact {
    background: url("https://feyzadc.github.io/landing-demo/assets/inner.jpg") center center/cover no-repeat fixed;
    background-position: center center;
}

.contact .row {
    height: 750px;
    padding: 100px 0;
}

.contact .contact-form {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
}

.contact .contact-text {
    color: #fff;
}

.contact .contact-text span {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact .contact-text h2 {
    margin: 30px 0;
}

.contact .contact-text p {
    color: #d7d8da;
    font-size: 1.3rem;
    line-height: 30px;
    margin-bottom: 40px;
}

.contact .contact-form textarea {
    height: 195px !important;
}

.contact .contact-form textarea,
.contact .contact-form input {
    height: 50px;
    border: 1px solid #e6e9ec;
    border-radius: 5px;
    font-size: 15px;
    color: #000000;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-row input {
    width: 48% !important;
}

.contact .contact-form button {
    width: 100%;
}

/* blogs */
.blogs {
    background-color: #f4f9fc;
}

.blogs .blog-card {
    padding: 40px 25px;
    background-color: white;
    min-width: 31%;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0 15px 44px 0px rgba(171, 171, 171, 0.1);
}

.blog-card h3 {
    margin-bottom: 15px;
    color: #000;
    font-weight: 600;
    line-height: 35px;
    font-size: 2rem;
}

.blog-card p {
    color: #7a8595;
    font-size: 1.3rem;
    line-height: 30px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

.blog-card span {
    font-size: 1.5rem;
    color: #7a8595;
    margin-right: 20px;
}

.blog-card span i {
    margin-right: 10px;
}

.blog-card:hover h3,
.blog-card:hover p,
.blog-card:hover span {
    color: #fff;
}

.blog-card:hover {
    background: url("https://feyzadc.github.io/landing-demo/assets/service.jpg") center center/cover no-repeat local;
    background-color: rgba(0, 0, 0, 0.95);
}


/* logos */
.logos {
    background-color: white;
}

.logo-carousel .owl-item {
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer */
.footer {
    background: url("https://feyzadc.github.io/landing-demo/assets/footer-bg.png") center center/cover no-repeat local;
}

.footer-col {
    padding: 0 15px !important;
    margin-bottom: 30px;
}

.footer h3 {
    color: white;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 25px;
}

.footer-first p {
    color: #cccccc;
    font-size: 15px;
    line-height: 30px;
}

.footer-first span {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.footer-first input {
    width: calc(100% - 70px);
    height: 45px;
    font-size: 13px;
    padding: 6px 15px;
    border: 0;
}

.footer-first button {
    background-color: #0060ff;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 20px;
}

.links-info {
    margin-left: 10px;
}

.links-info a {
    font-weight: 600 !important;
}

.links-info span {
    color: #cccccc;
}

.footer-contact ul {
    display: block;
}

.footer-contact li {
    margin-bottom: 15px !important;
    width: 50%;
    float: left;
}

.footer-contact li a {
    color: #cccccc !important;
    transition: all ease-in-out .5s;
}

.footer-contact li a:hover {
    color: #0060ff !important;
    padding-left: 10px;
}

.footer-contact ul li i {
    margin-right: 10px;
}

.footer-insta li {
    width: 30%;
    float: left;
    margin: 5px !important;
}

.footer-insta li img {
    width: 100%;
}


/* bottom-bar */
.bottom-area {
    background: #0060ff;
    padding: 35px 0px;
    font-size: 15px;
    color: white;
}

.bottom-area p,
.bottom-area a {
    font-weight: 600 !important;
    margin-bottom: 0 !important;
}

.bottom-area .bottom-logo a {
    margin-left: 25px;
}



#scrollUp {
    background-color: #0060ff;
    bottom: 80px;
    color: #fff;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    right: 30px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    width: 45px;
    z-index: 999;
}